
html{
  direction: rtl;
}
.social-icons{
  float: left !important;
}
.search{
  float: left !important;
  margin-left: 0px !important;
  margin-right: 15px !important;
}
.search .btn{
  left: 0px !important;
}
#header nav{
  float: left !important;
}

.nav-pills > li{
  float: right;
}
ul.dropdown-menu {
    border-radius: 6px 0 6px 6px !important;
    margin-left: 0 !important;
    margin-right: 3px !important;
    text-align: right !important;
    right: auto !important;
}
#header nav ul.nav-main .dropdown-submenu > a:after{
  float: left !important;
  border-color: transparent;
  border-top-color: transparent;
  border-right-color: #ffffff;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-width: 5px 5px 5px 0;
}
#header nav ul.nav-main .dropdown-submenu > .dropdown-menu{
  left: auto;
  right: 100%;
}

#header .social-icons{
  margin-left: 0px;
  margin-right: 5px;
}

.fa-angle-right:before{
  content: "\f104"
}
#header nav ul.nav-top li i{
      display: inline;
}

span.sun{
  left: auto;
  right: 10%;
}
span.cloud{
  left: auto;
  right: 57%;
  background-color:lightblue;
  transform:rotateY(180deg);
}
.home-concept .row.center > div{
  float: right;
}
.testimonial-arrow-down{
margin: 0 25px 0 0;
}
.testimonial-author > p{
  margin: 0 25px 0 0;
    text-align: right;
    float: right;
}
.img-thumbnail.img-thumbnail-small{
  float: right;
}

#footer .footer-ribbon:before {
    border-right: 10px solid transparent;
    border-bottom: 16px solid #646464;
    right: -10px;
    top: -14px;
  }

@media  (max-width: 991px) {
  .btn-responsive-nav{
    left: 30px;
  }
  .fa-angle-down{
    left: 0px;
    width: 5px !important;
    float: left !important;
    right: 0px !important;
    display: inline-block;
    position: static !important;
  }
  #header .nav-main li.dropdown a.dropdown-toggle.extra{
    float: left !important;
  }
}
